<?php
$title = 'Товары';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php foreach ($goods as $good) :
    $temp_name = $good->good_name;
    $name = str_replace (' ', '-', $temp_name);
    ?>
    <a href="<?php echo $this->url('good', array('action'=>'view', 'name' => $name));?>"><?php echo $this->escapeHtml($name);
    if($good->configuration) {
        echo ' (' . $this->escapeHtml($good->configuration) . ')';
    }
    ?>
    </a>
    <br>
<?php endforeach; ?>