<div class="row-fluid">
    <div class="good_content">
        <?php foreach ($good as $g) :
            $temp_name = $g->good_name;
            $name = str_replace (' ', '-', $temp_name);
        ?>
            <div class="good_name">
                <p><?php echo $this->escapeHtml($g->good_name) . '<br>'; ?></p>
            </div>



            <div class="good_image span3">
                <img src="<?php echo $this->basePath('img/goods/' . $this->escapeHtml($g->image)); ?>" />
            </div>


            <div class="span8">
                <div class="price_button_wrap">
                    <div class="good_price">
                        <p><?php echo $this->escapeHtml($g->price) . ' <span>грн.</span>';?></p>
                    </div>
                    <div class="btn-link">
                        <a href="<?php echo $this->url('basket', array('action'=>'index', 'name' => $name, 'price' => $g->price));?>" class="btn_buy">Купить</a>
                    </div>
                </div>

                <div class="good_desc">
                    <p><?php echo $this->escapeHtml($g->desc);?></p>
                </div>
            </div>

        <?php endforeach; ?>
    </div>
</div>