body {
    font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
}

.auth {
    color: green;
    font-size: 26px;
    font-weight: bold;
}

#auth li {
    color: red;
}

.good_content {
    margin: 40px 0px;
    overflow: auto;
}

.good_name p {
    font-size: 36px;
    padding: 20px 0;
}

.good_image  {
    width: 400px;
}

.price_button_wrap {
    background: #fff8e5;
    border: 1px solid #ffc310;
    width: 181px;
    height: 141px;
    padding: 0 10px 0 10px;
    text-align: center;
}

.good_price {
    margin-top: 30px;
}

.good_price p {
    font-size: 32px;
}

.good_price span {
    font-size: 24px;
}

.good_desc {
    width: 500px;
    padding: 20px 0;
}

.btn-link {
    background: #4bbe3f;
    background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
    background: -ms-linear-gradient(top, #79d670, #4bbe3f);
    background: -moz-linear-gradient(top, #79d670, #4bbe3f);
    background: linear-gradient('to bottom', #79d670, #4bbe3f);
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731;
    background-clip: padding-box;
    border: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    outline: 0em;
    border-radius: 3px;
    margin-bottom: 2px;
    width: 149px;
    height: 54px;
}

.btn-link:hover {
    background: #1fc80d;
    background: -webkit-linear-gradient(top, #69f95b, #1fc80d);
    background: -ms-linear-gradient(top, #69f95b, #1fc80d);
    background: -moz-linear-gradient(top, #69f95b, #1fc80d);
    background: linear-gradient('to bottom', #69f95b, #1fc80d);
}

.btn-link:before {
    content: '';
    position: absolute;
    background-position: 0 -2509px;
    width: 26px;
    height: 26px;
    top: 50%;
    margin-top: -14px;
    left: 10px;
    background: url("../img/basket.png") !important;
    background-repeat: no-repeat;
}

.btn_buy {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    padding: 17px 0 0 20px;
    display: block;
}

.btn_buy:hover {
    color: #fff;
    text-decoration: none;
}
