<?php

$title = 'Категории';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a class="btn btn-primary" href="<?php echo $this->url('admin', array('action'=>'addCategory'));?>">Добавить новую категорию</a>
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    <?php foreach ($categories as $cat) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($cat->name);?></td>
            <td>
                <a href="<?php echo $this->url('admin', array('action'=>'editCategory', 'id' => $cat->id));?>">Edit</a>
                <a href="<?php echo $this->url('admin', array('action'=>'deleteCategory', 'id' => $cat->id));?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>