<?php
$title = 'Редактирование заказа';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin',
    array(
        'action' => 'editOrder',
        'id'     => $this->id,
    )
));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('name')) . '<br>';
echo $this->formRow($form->get('city')) . '<br>';
echo $this->formRow($form->get('phone')) . '<br>';
echo $this->formRow($form->get('good_name')) . '<br>';
echo $this->formRow($form->get('good_price')) . '<br>';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();