<?php
$title = 'Редактирование товара';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin',
    array(
        'action' => 'editGood',
        'id'     => $this->id,
    )
));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('id_category'));
echo $this->formRow($form->get('category')) . '<br>';
echo $this->formRow($form->get('good_name')) . '<br>';
echo $this->formRow($form->get('configuration')) . '<br>';
echo $this->formRow($form->get('price')) . '<br>';
echo $this->formRow($form->get('desc')) . '<br>';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();