<?php
$title = 'Товары';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>
    <a class="btn btn-primary" href="<?php echo $this->url('admin', array('action'=>'addGood'));?>">Добавить новый товар</a>
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Configuration</th>
        <th>Price</th>
        <th>Desc</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    <?php
    foreach ($goods as $good) :
        ?>
        <tr>
            <td><?php echo $this->escapeHtml($good->good_name);?></td>
            <td><?php echo $this->escapeHtml($good->name);?></td>
            <td><?php echo $this->escapeHtml($good->configuration);?></td>
            <td><?php echo $this->escapeHtml($good->price);?></td>
            <td><?php echo $this->escapeHtml($good->desc);?></td>
            <td><?php echo $this->escapeHtml($good->image);?></td>
            <td>
                <a href="<?php echo $this->url('admin', array('action'=>'editGood', 'id' => $good->id));?>">Edit</a>
                <a href="<?php echo $this->url('admin', array('action'=>'deleteGood', 'id' => $good->id));?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>