<a href="<?php echo $this->url('admin', array('action'=>'categories'));?>">Категории</a><br>
<a href="<?php echo $this->url('admin', array('action'=>'goods'));?>">Товары</a><br>
<a href="<?php echo $this->url('admin', array('action'=>'orders'));?>">Заказы</a><br>