<?php
$title = 'Заказы';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table">
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Phone</th>
        <th>Good Name</th>
        <th>Good Price</th>
        <th>Actions</th>
    </tr>
    <?php
    foreach ($orders as $o) :
        ?>
        <tr>
            <td><?php echo $this->escapeHtml($o->name);?></td>
            <td><?php echo $this->escapeHtml($o->city);?></td>
            <td><?php echo $this->escapeHtml($o->phone);?></td>
            <td><?php echo $this->escapeHtml($o->good_name);?></td>
            <td><?php echo $this->escapeHtml($o->good_price);?></td>
            <td>
                <a href="<?php echo $this->url('admin', array('action'=>'editOrder', 'id' => $o->id));?>">Edit</a>
                <a href="<?php echo $this->url('admin', array('action'=>'deleteOrder', 'id' => $o->id));?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>