<?php header('Content-Type: text/html; charset=UTF-8'); ?>
<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Интернет Магазин'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-responsive.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.css'))?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.js'))
            ->prependFile($this->basePath('js/jquery.js'))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/></a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            <?php
                            if($user = $this->identity()) {
                                echo 'Logged in as ' . $this->escapeHtml($user->name) . '.';
                                ?>
                                <a class="navbar-link" href="<?php echo $this->url('user/default', array('controller' => 'index', 'action' => 'logout')); ?>">
                                    <?php echo $this->translate('Logout'); ?>
                                </a>
                            <?php } else { ?>
                                <a class="navbar-link" href="<?php echo $this->url('user/default', array('controller' => 'index', 'action' => 'login')); ?>">
                                    Login
                                </a>
                            <?php }
                            ?>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="<?php echo $this->url('home') ?>">Home</a></li>
                            <li><a href="<?php echo $this->url('admin') ?>">Admin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <?php echo $this->content; ?>

            <hr>
            <footer>
                <p>&copy; <?php echo date('Y') ?> Sunny</p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
