<?php
$title = 'Корзина';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

    <div class="row-fluid">
        <div class="span5">
            <?php
            $form = $this->form;
            $form->setAttribute('action', $this->url('basket', array('action' => 'index', 'name' => $good_name, 'price' => $good_price)));
            $form->prepare();

            echo $this->form()->openTag($form);
            echo $this->formHidden($form->get('id'));
            echo $this->formRow($form->get('name')) . '<br>';
            echo $this->formRow($form->get('city')) . '<br>';
            echo $this->formRow($form->get('phone')) . '<br>';
            echo $this->formSubmit($form->get('submit'));
            echo $this->form()->closeTag() . '<br>';
            ?>
        </div>
        <div class="span4">
            <?php
            echo $good_name.'<br>';
            echo $good_price.'<br>';
            ?>
        </div>
    </div>
