<?php
$title = 'Login';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<p class="auth"><?php echo $this->escapeHtml($messages); ?></p>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url('user/default', array('controller' => 'index', 'action' => 'login')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('name')).'<br>';
echo $this->formRow($form->get('password')).'<br>';
echo $this->formRow($form->get('rememberme')).'<br>';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
