<?php
$title = 'Категории';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php foreach ($categories as $cat) : ?>
  <a href="<?php echo $this->url('cat', array('action'=>'view', 'name' => $cat->name));?>"><?php echo $this->escapeHtml($cat->name);?></a><br>
<?php endforeach; ?>


